@import url(/Users/ukiepro/Desktop/www/tvory/tvory/css/tail.css);
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("../fonts/kyiv_type_sans/KyivTypeSans-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Kyiv Type Sans";
  src: url("../fonts/kyiv_type_sans/KyivTypeSans-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Kyiv_Type_Sans_3";
  src: url("../fonts/kyiv_type_sans/KyivTypeSans-Light3.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/museo_sans/MuseoSansCyrl-500.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
}

body {
  margin: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff;
  color: #413e6f;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

html,
body,
main {
  min-height: 100vh;
}

main {
  display: block;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a p,
a span,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  cursor: pointer;
}

.clear {
  clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}

[class*="col_"] {
  flex: none;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 9px;
  padding-right: 9px;
  box-sizing: border-box;
}

.col_1 {
  min-width: 8.33333%;
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

.col_2 {
  min-width: 16.66667%;
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

.col_3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}

.col_4 {
  min-width: 33.33333%;
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

.col_5 {
  min-width: 41.66667%;
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

.col_6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}

.col_7 {
  min-width: 58.33333%;
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

.col_8 {
  min-width: 66.66667%;
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

.col_9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}

.col_10 {
  min-width: 83.33333%;
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

.col_11 {
  min-width: 91.66667%;
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

.col_12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}

@media (max-width: 767px) {
  .s_hide {
    display: none !important;
  }
  .s_show {
    display: flex !important;
    flex-direction: column;
  }
  .s_show_b {
    display: block !important;
  }
  .col_s_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_s {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 9px;
    padding-right: 9px;
  }
  .s_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .s_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .s_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .s_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .s_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .s_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .s_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .s_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .s_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .s_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .s_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .s_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_s_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_s_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_s_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_s_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_s_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_s_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_s_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_s_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_s_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_s_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_s_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_s_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .m_hide {
    display: none !important;
  }
  .m_show {
    display: flex !important;
    flex-direction: column;
  }
  .m_show_b {
    display: block !important;
  }
  .col_m_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_m {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 9px;
    padding-right: 9px;
  }
  .m_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .m_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .m_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .m_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .m_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .m_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .m_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .m_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .m_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .m_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .m_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .m_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_m_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_m_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_m_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_m_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_m_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_m_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_m_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_m_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_m_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_m_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_m_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_m_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1024px) {
  .l_hide {
    display: none !important;
  }
  .l_show {
    display: flex !important;
    flex-direction: column;
  }
  .l_show_b {
    display: block !important;
  }
  .col_l_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_l {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 9px;
    padding-right: 9px;
  }
  .l_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .l_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .l_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .l_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .l_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .l_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .l_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .l_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .l_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .l_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .l_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .l_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_l_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_l_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_l_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_l_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_l_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_l_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_l_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_l_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_l_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_l_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_l_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_l_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

body {
  display: flex;
  flex-direction: column;
}

body.no_scroll {
  overflow: hidden;
}

.img_wrap {
  flex: none;
  overflow: hidden;
}

.img_wrap img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 956px !important;
}

main {
  flex: 1 1 auto;
  min-height: auto;
}

main.bg-blue .struct_no_hover, main.bg-purple .struct_no_hover, main.bg-green .struct_no_hover {
  opacity: 0;
}

main.bg-blue .struct_hover, main.bg-purple .struct_hover, main.bg-green .struct_hover {
  opacity: 1;
}

main.bg-blue .struct_hover_text, main.bg-blue h1, main.bg-blue .hands_nav p, main.bg-blue .initiative_text, main.bg-purple .struct_hover_text, main.bg-purple h1, main.bg-purple .hands_nav p, main.bg-purple .initiative_text, main.bg-green .struct_hover_text, main.bg-green h1, main.bg-green .hands_nav p, main.bg-green .initiative_text {
  color: #fff;
}

main.bg-blue .star, main.bg-blue .bg-\[\#d0d0d0\], main.bg-purple .star, main.bg-purple .bg-\[\#d0d0d0\], main.bg-green .star, main.bg-green .bg-\[\#d0d0d0\] {
  background-color: #fff;
}

main.bg-blue .horizont, main.bg-blue .bl, main.bg-purple .horizont, main.bg-purple .bl, main.bg-green .horizont, main.bg-green .bl {
  border-color: #fff;
}

main.bg-blue .logo_moldviz.logo_appear svg, main.bg-blue .logo_lab.logo_appear svg, main.bg-blue .logo_px.logo_appear svg, main.bg-purple .logo_moldviz.logo_appear svg, main.bg-purple .logo_lab.logo_appear svg, main.bg-purple .logo_px.logo_appear svg, main.bg-green .logo_moldviz.logo_appear svg, main.bg-green .logo_lab.logo_appear svg, main.bg-green .logo_px.logo_appear svg {
  fill: #fff;
}

main.bg-blue + footer .text-black, main.bg-purple + footer .text-black, main.bg-green + footer .text-black {
  color: #fff;
}

main.bg-blue + footer .bg-black, main.bg-purple + footer .bg-black, main.bg-green + footer .bg-black {
  background-color: #fff;
}

main.bg-blue .last_block::before, main.bg-blue .star > div {
  background-color: #2b286f;
}

main.bg-blue .titling_shadow {
  background: linear-gradient(180deg, #2b286f 0%, #2b286f 52%, rgba(0, 212, 255, 0) 100%);
}

main.bg-blue .titling_shadow::before {
  background-color: #2b286f;
}

main.bg-blue + footer {
  background-color: #2b286f;
}

main.bg-purple {
  background-color: #5d2d8d;
}

main.bg-purple .last_block::before, main.bg-purple .star > div {
  background-color: #5d2d8d;
}

main.bg-purple .titling_shadow {
  background: linear-gradient(180deg, #5d2d8d 0%, #5d2d8d 52%, rgba(0, 212, 255, 0) 100%);
}

main.bg-purple .titling_shadow::before {
  background-color: #5d2d8d;
}

main.bg-purple + footer {
  background-color: #5d2d8d;
}

main.bg-green .last_block::before, main.bg-green .star > div {
  background-color: #2fa341;
}

main.bg-green .titling_shadow {
  background: linear-gradient(180deg, #2fa341 0%, #2fa341 52%, rgba(0, 212, 255, 0) 100%);
}

main.bg-green .titling_shadow::before {
  background-color: #2fa341;
}

main.bg-green + footer {
  background-color: #2fa341;
}

header.whited .logo {
  fill: white;
}

header.whited .burger > div {
  background-color: #fff !important;
}

header.whited .lang_switch {
  color: #fff !important;
}

header.whited .white {
  display: block;
}

header.whited .black {
  display: none;
}

header .white {
  display: none;
}

header.index .black_icon {
  display: none;
}

header.index.show_black .white_icon {
  display: none;
}

header.index.show_black .black_icon {
  display: block;
}

.burger .top_line {
  transition: transform 360ms;
  transform-origin: center;
  transform: rotate(0) scaleX(1) translate(0);
}

.burger.active .top_line {
  transition: transform 360ms;
  transform: rotate(-40deg) scaleX(1.1) translate(-5px, 8px);
}

nav .nav a {
  position: relative;
}

nav .nav a::before {
  opacity: 0;
  transition: opacity 180ms;
  content: "";
  width: 25px;
  display: block;
  position: absolute;
  top: 3px;
  left: -54px;
  height: 13px;
  background: url("../img/black_hand.svg") no-repeat center/contain;
}

@media all and (min-width: 1024px) {
  nav .nav a::before {
    top: 4px;
    left: -100px;
    width: 40px;
    height: 40px;
  }
}

nav .nav a:hover::before {
  opacity: 1;
  transition: opacity 180ms;
}

.face {
  animation: faceRoll 2s step-start infinite;
}

.tear {
  animation: faceTear 2s step-start infinite;
}

@keyframes faceRoll {
  0% {
    transform: matrix(0.99, -0.14, 0.14, 0.99, 0, 0);
  }
  20% {
    transform: matrix(0.99, 0.11, -0.11, 0.99, 0, 0);
  }
  40% {
    transform: matrix(0.96, -0.27, 0.27, 0.96, 0, 0);
  }
  60% {
    transform: matrix(0.98, 0.2, -0.2, 0.98, 0, 0);
  }
  80% {
    transform: matrix(0.93, -0.36, 0.36, 0.93, 0, 0);
  }
  100% {
    transform: matrix(0.99, -0.14, 0.14, 0.99, 0, 0);
  }
}

@keyframes faceTear {
  0% {
    display: none;
  }
  20% {
    left: 82px;
    top: 74px;
  }
  40% {
    left: 89px;
    top: 78px;
    transform: rotate(-68deg);
  }
  60% {
    left: 94px;
    top: 99px;
    transform: rotate(-16deg);
  }
  80% {
    left: 120px;
    top: 104px;
    transform: rotate(-40deg);
  }
  100% {
    display: none;
    left: -1000%;
  }
}

.octo {
  max-width: none;
  animation: octoFly 2s step-start infinite;
}

@keyframes octoFly {
  0% {
    display: none;
    left: -1000%;
  }
  20% {
    width: 360px;
    left: -260px;
    top: -175px;
    transform: rotate(13deg);
  }
  40% {
    width: 240px;
    left: -155px;
    top: -170px;
    transform: rotate(21deg);
  }
  60% {
    width: 150px;
    left: -25px;
    top: -195px;
    transform: rotate(40deg);
  }
  80% {
    width: 90px;
    left: 82px;
    top: -212px;
    transform: rotate(44deg);
  }
  100% {
    width: 55px;
    left: 153px;
    top: -217px;
    transform: rotate(53deg);
  }
}

.dino_wrap {
  left: -7%;
  top: 25%;
}

.dino {
  width: 270px;
  max-width: unset;
  transform: rotate(5deg);
}

@media all and (min-width: 1024px) {
  .dino {
    width: 467px;
    top: 10%;
    left: -10%;
  }
}

.dino_face {
  width: 160px;
  top: 121px;
  left: 307px;
  animation: dino_face_show 1.5s step-start infinite;
}

@keyframes dino_face_show {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

@media all and (max-width: 1000px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.arrow_hor {
  transform: rotate(113deg);
  bottom: -33px;
}

.worker_wrap .worker_1 {
  opacity: 1;
  transition: opacity 180ms;
}

.worker_wrap .worker_1_1, .worker_wrap .name, .worker_wrap .desc {
  opacity: 0;
  transition: opacity 180ms;
}

.worker_wrap:hover .worker_1 {
  opacity: 0;
  transition: opacity 180ms;
}

.worker_wrap:hover .worker_1_1, .worker_wrap:hover .name, .worker_wrap:hover .desc {
  opacity: 1;
  transition: opacity 180ms;
}

.border_strategy_text {
  border-radius: 50%/100px 100px 0 0;
}

.mask {
  -webkit-mask: url("../img/mask.svg") no-repeat center/cover;
}

.mask_hover {
  -webkit-mask: url("../img/mask_hover.svg") no-repeat center/cover;
}

.miror {
  transform: scaleX(-1);
}

.small_horizontal_padding {
  padding-left: 40px;
  padding-right: 36px;
}

.star {
  height: 11px;
  width: 11px;
  position: absolute;
  left: calc(-40% + -5px);
  bottom: 210px;
  background-color: #d0d0d0;
}

@media all and (width: 1920px) {
  .star {
    left: calc(-31% + -5px);
  }
}

@media all and (max-width: 1440px) {
  .star {
    left: calc(-10% + -5px);
  }
}

.star > div {
  z-index: 2;
  background-color: #fff;
  width: 5px;
  height: 5px;
  position: absolute;
}

.star > div:nth-child(1) {
  top: 0;
  left: 0;
  border-radius: 0px 0px 25px 0px;
}

.star > div:nth-child(2) {
  top: 0;
  right: 0;
  border-radius: 0px 0px 0px 25px;
}

.star > div:nth-child(3) {
  bottom: 0;
  right: 0;
  border-radius: 25px 0px 0px 0px;
}

.star > div:nth-child(4) {
  bottom: 0;
  left: 0;
  border-radius: 0px 25px 0px 0px;
}

.bl {
  border-left: 1px solid #d0d0d0;
}

.bb {
  border-bottom: 1px solid #d0d0d0;
}

.horizontal_line {
  position: relative;
  margin-left: -30px;
  width: calc(100% + 30px);
}

.horizontal_line .start {
  width: 1px;
  position: absolute;
  left: -40%;
  top: -210px;
  animation: vertical_line_22 400ms forwards;
}

@media all and (width: 1920px) {
  .horizontal_line .start {
    left: -31%;
  }
}

@media all and (width: 1440px) {
  .horizontal_line .start {
    left: -10%;
  }
}

.horizontal_line .horizont {
  width: 0;
  border-bottom: 1px solid #d0d0d0;
  margin-left: -40%;
  animation: horizontal_w_140 400ms 400ms forwards;
}

@media all and (width: 1920px) {
  .horizontal_line .horizont {
    margin-left: -31%;
    animation: horizontal_w_131 400ms 400ms forwards;
  }
}

@media all and (width: 1440px) {
  .horizontal_line .horizont {
    margin-left: -10%;
    animation: horizontal_w_110 400ms 400ms forwards;
  }
}

.horizontal_line .end {
  width: 1px;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  animation: vertical_line_40 400ms 800ms forwards;
}

.vertical_2 {
  animation: vertical_line_100 400ms 800ms forwards;
}

.vertical_3 {
  animation: vertical_line_100 400ms 1600ms forwards;
}

.horizontal_2 {
  animation: horizontal_w_140 400ms 1200ms forwards;
}

.horizontal_3 {
  animation: horizontal_w_140 400ms 1200ms forwards;
}

.arrow_1 {
  animation: arrow_show 200ms 2000ms forwards;
}

.arrow_2 {
  animation: arrow_show 200ms 1600ms forwards;
}

@keyframes arrow_show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show_first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes horizontal_w_140 {
  from {
    width: 0;
  }
  to {
    width: 140%;
  }
}

@keyframes horizontal_w_131 {
  from {
    width: 0;
  }
  to {
    width: 131%;
  }
}

@keyframes horizontal_w_110 {
  from {
    width: 0;
  }
  to {
    width: 110%;
  }
}

@keyframes vertical_line_22 {
  from {
    height: 0;
  }
  to {
    height: 210px;
  }
}

@keyframes vertical_line_100 {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes vertical_line_40 {
  from {
    height: 0;
  }
  to {
    height: 590px;
  }
}

.rotate_90_5 {
  transform: rotate(-90deg) translateX(5%);
}

.last_block::before {
  z-index: 1;
  position: absolute;
  left: -24px;
  top: calc(50% + 1px);
  width: 10px;
  background-color: #fff;
  height: 20vh;
  content: "";
}

.initiative_text {
  transform-origin: right;
  top: 35%;
  transform: rotate(-90deg);
  animation: arrow_show 200ms 1600ms forwards;
}

.logo_appear {
  animation: arrow_show 400ms 2000ms forwards;
}

.titling_shadow {
  background: linear-gradient(180deg, white 0%, white 52%, rgba(0, 212, 255, 0) 100%);
}

.titling_shadow::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 112px;
  height: calc(100% + 146px);
  background-color: #fff;
}

.l_arrow_1 {
  transform: rotate(154.7deg);
}

.animate_elips {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
}

.animate_elips.speed_1 {
  animation: animate_elips 2.5s 300ms linear infinite;
}

.animate_elips.speed_2 {
  animation: animate_elips 2.5s 500ms linear infinite;
}

.animate_elips.speed_3 {
  animation: animate_elips 2.5s 700ms linear infinite;
}

.animate_elips.speed_4 {
  animation: animate_elips 2.5s 900ms linear infinite;
}

.strat_star_show {
  animation: arrow_show 200ms 0.8s linear forwards;
}

.strat_star_show2 {
  animation: arrow_show 200ms 1s linear forwards;
}

.strat_star_show3 {
  animation: arrow_show 200ms 1.2s linear forwards;
}

.strat_star_show4 {
  animation: arrow_show 200ms 1.4s linear forwards;
}

@keyframes animate_elips {
  to {
    stroke-dashoffset: 0;
  }
}

.aos-animate .logo_hand_animation {
  transform: rotate(-90deg);
  animation: logo_hand_animation 400ms 600ms linear forwards;
}

@keyframes logo_hand_animation {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}

.text_select {
  transition: all 180ms;
  transform: scale(1);
}

.text_select:hover {
  opacity: 1 !important;
  transition: all 180ms;
  transform: scale(1.2);
}

.text_select.active {
  opacity: 1 !important;
  transition: all 180ms;
  transform: scale(1.4);
}

.text_select.active.first .strat_star {
  opacity: 0;
  animation: show_first 200ms 0.8s linear forwards;
}

.desc_text {
  display: none;
}

.desc_text.active {
  display: block;
}

.static_left {
  left: calc( (100vw - 956px) / 2 - 7px);
  max-width: calc((956px / 12) * 2);
}

.workers_switch .molodo.active svg, .workers_switch .pix_lab.active svg {
  fill: #ffcc04;
}

.workers_switch .open_lab.active svg {
  fill: #0cc29f;
}

.owl-carousel .owl-stage-outer {
  padding-top: 60px;
  padding-bottom: 30px;
}

.owl-carousel .owl-item {
  opacity: 0;
  transform: scale(0);
  transition: all 180ms;
}

.owl-carousel .owl-item.active {
  opacity: 0.5;
  transform: scale(0.4) translateY(-180px);
  transition: all 180ms;
}

.owl-carousel .owl-item.active + .active {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.owl-carousel .owl-item.active + .active + .active {
  opacity: 0.5;
  transform: scale(0.4) translateY(70px);
}

.logo_hover {
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
}

.owl_next img {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
/*# sourceMappingURL=styles.css.map */